
$primary-color: #44AF89;
$secondary-color: #C6A533;
$tertiary-color: #A1D890;

$color-black: #120A00;
$color-white: #F6F6F6;
$color-light-grey: #B2B2B2;
$color-dark-grey: #B2B3B3;

$color-success: #00AC45;
$color-error: #FF3436;
$color-warning: #F4ED48;

$bg-color1: #17343D;


