.customer-detail {
    background-color: #fafafa;
    padding: 2.4rem;
    margin-top: 7.2rem;
    min-height: calc(100vh - 7.2rem);

    &__inner {
        background-color: #fff;
        padding: 2rem;
        border-radius: .5rem;
    }

    &__group {
        margin-top: 3rem;

        &:first-child {
            margin-top: 0;
        }

        .images {

            display: flex;
            flex-wrap: wrap;
            gap: 2rem;

            & > div {
                width: 50%;
                // border-right: 1px solid #fafafa;

                &:last-of-type {
                    border-right: none;
                }

                h4 {
                    font-size: 2rem;
                    text-decoration: underline;
                    margin-bottom: 2rem;
                }

                img {
                    height: 60rem;
                    width: 100%;
                    border: none;
                }
            }
        }
    }

    &__heading {
        margin-bottom: 1rem;
        font-size: 2rem;
        font-weight: 700;
        color: #3F434A;
    }

    button {
        display: inline-block;
        margin-top: 2rem;
        font-size: 1.6rem;
        font-weight: 700;
        cursor: pointer;
        color: #47B88F;
    }

    
}


table {
    border-collapse: collapse;
    width: 100%;

    th{
        border-bottom: 1px solid #E8E9EB;
        text-align: left;
    }

    th, td {
        font-weight: 500;
        font-size: 1.4rem;
        padding: 1rem 0;
        color: #8A9099;
    }


    .td__fullname {
        display: flex;
        align-items: center;

        img {
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
            display: inline-block;
            margin-right: 2rem;
        }
    }

    .active-loan,
    .success-loan {
        padding: .6rem 1rem;
        display: inline-block;
        font-size: 1.2rem;
        color: #49C96D;
        background-color: rgba(#49C96D, .05);
    }

    .ongoing-loan {
        padding: .6rem 1rem;
        display: inline-block;
        font-size: 1.2rem;
        color: #9acd32;
        background-color: rgba(#9acd32, .05);
    }

    .pending-loan {
        padding: .6rem 1rem;
        display: inline-block;
        font-size: 1.2rem;
        color: #F9AC3B;
        background-color: rgba(#F9AC3B, .05);
    }

    .pending_disbursement-loan {
        background-color: rgba(#964B00, .1);
        color: #964B00;
        height: 3.3rem; 
        width: 10rem;
        padding: .5rem;
    }

    /*
    &.success {
            color: #49C96D;
            background-color: rgba( #49C96D, .1);
        }

        &.danger {
            color: #FF3436;
            background-color: rgba( #FF3436, .1);
        }
        &.pending {
            color: #F9AC3B;
            background-color: rgba(#F9AC3B, .1);
        }

        &.pending_disbursement {
            background-color: rgba(#964B00, .1);
            color: #964B00;
            height: 3.3rem; 
            width: 10rem;
        }

        .defaulted {
            color: #FF3436;
            background-color: rgba( #FF3436, .1);
            font-weight: 600;
        }
    */

    &.loan__table {
        width: 100%;

        th, td {
            width: calc(100% / 6);
        }
    }
}