.dashboard {
    margin-top: 12.8rem;
    margin-top: 7.2rem;
    padding: 2.4rem;
    background-color: #fafafa;


    .tabcontainer {
        background-color: #fff;
        padding: 1rem;
        border-radius: .7rem;
    }
}