.account-main {
    border-top-right-radius: 2.4rem;
    border-bottom-right-radius: 2.4rem;
    background-color: #FAFAFA;
    display: flex;

    &__inner {
        margin: auto;
        width: 40rem;

        @media screen and (max-width: 37.5em) {
            width: 90%;
        }
    }

    @media screen and (max-width: 62.5em) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    @media screen and (max-width: 56.25em) {
        height: 100vh;
    }
}