@import './../../sass/main.scss';

.account-background {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom left, rgba($primary-color, .8), rgba($primary-color, 1));
    background-image: url(./../../img/Group.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
}