.form-question {
    margin-top: 4rem;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
    color: #7C7C7C;

    a {
        // background: linear-gradient(110.44deg, #FAA61A 8.98%, #FFB904 86.73%);
        color: #FAA61A;
        font-size: 1.4rem;
        font-weight: 700;
        text-decoration: none;
    }
}

.form-question-small {
    margin-top: .7rem;
    text-align: right;
    font-size: 1.2rem;
    color: #111111;

    a {
        color: #F9AC3B;
        text-decoration: none;
    }
}