@import './../../sass/main.scss';

.form-control {
    color: $color-light-grey;
    font-size: 1.4rem;

    &:not(:last-of-type) {
        margin-bottom: 2rem;
    }


    &__label {
        display: block;
        margin-bottom: 1rem;
        color: #627E84;
    }

    &__inputContainer {
        width: 100%;
        position: relative;
    }

    &__input {
        width: 100%;
        display: block;
        border: 1px solid $color-light-grey;
        padding: .8rem 1.6rem;
        border-radius: 1rem;

        &--invalid {
            color: red
        }
    }

    &__icon {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 2rem;
        height: 2rem;
        color: #120A00;
        position: absolute;
        top: 50%;
        right: 1.6rem;
        transform: translateY(-50%);
        cursor: pointer;
    }
}