.customer-detail {
    background-color: #fafafa;
    padding: 2.4rem;
    margin-top: 7.2rem;
    min-height: calc(100vh - 7.2rem);

    &__inner {
        background-color: #fff;
        padding: 2rem;
        border-radius: .5rem;
    }
}

.loan-detail {
    padding: 4rem;
    background-color: #fafafa;
    padding: 2.4rem;
    margin-top: 7.2rem;
    min-height: calc(100vh - 7.2rem);


    &__heading {
        font-size: 2rem;
        font-weight: 700;
        color: #3F434A;
    }

    table {
        margin: 3rem 0;
        width: 100%;
        border-collapse: collapse;

        th {
            text-align: left;
            padding: 1.3rem 0;
            font-size: 1.4rem;
            font-weight: 500;
            color: #8A9099;
            border-bottom: 1px solid #E8E9EB;
        }

        td {
            padding: 1rem 0;

            div {

                span {
                    width: 4rem;
                    height: 4rem;
                    border-radius: 50%;
                    background-color: yellow;
                }

                h3 {
                    font-size: 1.4rem;
                    font-weight: 500;
                    color: #3F434A;
                }
            }
        }

    }

    ul {
        margin-top: 2rem;
        margin-bottom: 3rem;
        border-top: 1px solid #E8E9EB;
        list-style: none;

        li {
            font-weight: 500;
            font-size: 1.4rem;
            margin: 2rem 0;
            display: flex;
            align-items: center;

            strong {
                width: 20rem;
            }


            button {
                font-size: 1.6rem;
                font-weight: 700;
                cursor: pointer;
                color: #47B88F;
            }
        }
    }

    &__box-img {
        // height: 30rem;
        margin-top: 2rem;
        margin-bottom: 3rem;
        
        // style={{width: '100%', height: '100%'}} s

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            // transform: scale(.5);
        }
    }

    &__box {
        margin-top: 2rem;
        margin-bottom: 3rem;
        padding-top: 2rem;
        border-top: 1px solid #E8E9EB;

        
        // font-size: 4rem;
        // font-weight: 700;
        // height: 30rem;
        // display: flex;
        // align-items: center;
        // justify-content: center;

        &--item1 {
            background-color: #D9D9D9;
            font-size: 4rem;
            font-weight: 700;
            height: 30rem;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            text-decoration: none;
            color: #fff;
        }

        &--item2 {
            padding: 2rem;
            border-radius: 1rem;
            border: 1px solid #E8E9EB;
        }
    }

    &__btns {
        display: flex;
        align-items: center;
        justify-content: space-between;

        button {
            width: 13.4rem;
            height: 4rem;
            display: inline-block;
            padding: .8rem;
            font-size: 1.6rem;
            font-weight: 500;
            border-radius: 1rem;
            color: #fff;
            cursor: pointer;

            &:first-child {
                background-color: #FF3436;
            }

            &:last-child {
                background-color: #47B88F;
            }
        }
    }

    span {

        &.completed,
        &.success {
            color: #49C96D;
            // background-color: rgba(#49C96D, .1);
        }

        

        &.defaulted,
        &.danger {
            color: #FF3436;
            // background-color: rgba(#FF3436, .1);
        }

        &.ongoing,
        &.pending {
            color: #F9AC3B;
            // background-color: rgba(#F9AC3B, .1);
        }

        &.pending_disbursement {
            // background-color: rgba(#964B00, .1);
            color: #964B00;
            height: 3.3rem;
            width: 10rem;
        }

        &.defaulted {
            color: #FF3436;
            // background-color: rgba(#FF3436, .1);
            font-weight: 600;
        }
    }
}

.form-comment {
    width: 100%;
    border: 1px solid #ccc;
    font-size: 2rem;
    color: #121212;
    padding: .8rem 1.6rem;
    border-radius: 1rem;
}

.admin-comments {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
    margin-bottom: 2rem;
    border: 1px solid #ccc;

    &__item {
        border-radius: .6rem;
        padding: 2rem;
        flex: 1;
        background-color: #fff;
        
        .loan-detail__heading {
            font-size: 1.6rem;
            margin-bottom: 1rem;
        }

        p {
            font-size: 1.6rem;
        }
    }    
}
