.dashboard-main {
    background-color: darken(#f6f6f6, 0%);
    padding: 2.4rem;

    &__buttons {
        display: flex;
        align-items: center;
        list-style: none;
    }

    &__button {
        cursor: pointer;
        padding-left: 3rem;
        width: 16rem;
        height: 4.3rem;
        background-color: #fff;
        border-top-left-radius: 2rem;
        border-top-right-radius: 1rem;
        border-bottom-right-radius: .2rem;
        font-size: 1.6rem;
        font-weight: 500;
        color: #8A9099;
        display: flex;
        align-items: center;
        position: relative;
        box-shadow: .8rem .4rem 1.6rem rgba(44, 63, 88, 0.03);
        clip-path: polygon(0 0, 84% 1%, 100% 100%, 0% 100%);

        &:not(:first-child) {
            margin-left: -1.3rem;
        }

        &:last-child {
            text-align: center;
            width: 10rem;
            height: auto;
            margin-left: auto;
            border-radius: 1rem;
            padding: .7rem 1rem;
            font-size: 1.4rem;
            clip-path: none;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        span {
            margin-left: 2rem;
            width: 3rem;
            height: 1.6rem;
            border-radius: .5rem;
            font-size: 1.2rem;
            background-color: #627E84;
            padding: .7rem;
            color: #fff;
            opacity: .9;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: opacity .2s;
        }

        &:hover,
        &.active {
            span {
                opacity: 1;
            }
        }
    }
}

.table {
    padding-bottom: 1rem;
    width: 100%;
    background-color: #fff;
    border-collapse: collapse;
    box-shadow: 0px 20px 50px rgba(196, 196, 196, 0.15);
    border-radius: 0px 8px 8px 8px;

    th,
    td {
        border-bottom: 1px solid darken(#f6f6f6, 0%);
        padding: 1rem 3rem;
    }

    th {
        width: 20%;
        font-weight: 500;
        font-size: 1.6rem;
        color: #8A9099;
        text-align: left;
    }

    td {
        font-size: 1.4rem;

        div {
            display: flex;
            align-items: center;

            span {
                display: inline-block;
                width: 4rem;
                height: 4rem;
                border-radius: 50%;
                background-color: #ccc;
                margin-right: 1rem;
            }

            h3 {
                font-weight: 500;
                font-size: 1.4rem;
                color: #3F434A;
            }
        }

        &:nth-child(2) {
            color: #8A9099;
        }

        &:nth-child(3) {
            color: #3F434A;
            font-weight: 500;
        }

        &:nth-child(4) {
            color: #8A9099;
            font-weight: 500;
        }

        &:nth-child(5) {

            div {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            span {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                width: 7.9rem;
                height: 2.8rem;
                font-weight: 500;
                font-size: 1.4rem;
                text-align: center;
                border-radius: .5rem;

                &.success {
                    color: #49C96D;
                    background-color: rgba( #49C96D, .1);
                }

                &.danger {
                    color: #FF3436;
                    background-color: rgba( #FF3436, .1);
                }
            }

            .dots {
                font-size: 5rem;
            }
        }


    }
}